* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 223, 181);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

/* Class selector */
.first {
  color: rgb(34, 44, 249);
}

/* ID selector */
#your-name {
  background-color: rgb(238, 141, 236);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

/* Chaining two selectors together i.e. input and the button */
input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#course-image {
  width: 300px;
}

/*  children CSS styles */
#your-name h2 {
  color: olivedrab;
}
